img {
  width: 30%;
}

.note {
  list-style-type: "-";
}

.main-list {
  float: right;
}

.sub-list {
  list-style-type: circle;
}

.highlight {
  color: rgb(7, 132, 182);
}

.daily-ritual {
  width: 35%;
  float: left;
  margin: 10px;
}

.cats {
  float: left;
  width: 25%;
  margin: 10px;
  border: 6px solid rgb(78, 139, 78);
  padding: 10px;
  background-color: rgb(202, 202, 202);
}

body {
  margin: 50px;
}

.about-section {
  font-family: sans-serif;
  border: 10px solid rgb(44, 44, 44);
  padding: 10px;
  background-color: rgb(201, 172, 153)
}

.projects {
  float: right;
}