img {
  width: 30%;
}

.note {
  list-style-type: "-";
}

.sublist {
  list-style-type: circle;
}

.highlight {
  color: rgb(7, 132, 182);
}

.daily-ritual {
  width: 25%;
  float: center;
}

.cats {
  float: left;
  width: 25%;
  margin: 10px;
  border: 6px solid rgb(78, 139, 78);
  padding: 10px;
  background-color: rgb(202, 202, 202);
}

body {
  margin: 50px;
}