img {
  width: 20%;
}

.note {
  list-style-type: "-";
}

.main-list {
  font-family: 'Courier New', Courier, monospace;
  float: left;
}

.sub-list {
  list-style-type: circle;
}

.highlight {
  color: rgb(7, 132, 182);
}

.daily-ritual {
  width: 35%;
  float: left;
  margin-right: 20px;
  border: 5px solid rgb(17, 16, 16);
  padding: 4px;
}

.cat {
  float: left;
  width: 20%;
  margin-right: 10px;
  border: 8px solid rgb(160, 160, 160);
}

.cats {
  font-family: American Typewriter, serif;
  font-size: 18px;
  float: left;
}

body {
  margin: 50px;
  background-color: rgb(219, 182, 189);
}

.skills {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-me {
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8px solid rgb(44, 44, 44);
  padding: 10px;
  background-color: rgb(201, 172, 153)
}

.projects {
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: center;
}